/* Reset Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  overflow-x: hidden;
}

/* Color scheme
#FE5151;
#8F12FD;
*/
nav {
  padding: 20px;
  display: flex;
  align-items: center;
  background: transparent;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease;
  z-index: 100;
}

nav.scrolled {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14);
}

.logo h3 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.spacer {
  flex: 1;
}

.main-nav ul {
  list-style: none;
  display: flex;
}

.main-nav ul li:not(:last-child) {
  margin: 0 20px 0 0;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 5px;
  display: inline;
  position: relative;
  overflow: hidden;
}

.main-nav a:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #FE5151;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.main-nav a:hover:after,
.main-nav a:focus:after,
.main-nav a:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.lines {
  display: none;
  cursor: pointer;
}

.side-bar {
  display: none;
}

.side-bar ul {
  list-style: none;
  margin: 2rem auto;
}

.side-bar li {
  margin: 2rem;
}

.side-bar a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 5px;
  display: inline;
  position: relative;
  overflow: hidden;
}

.side-bar a:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #8F12FD;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.side-bar a:hover:after,
.side-bar a:focus:after,
.side-bar a:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.side-bar.toggled {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
}

.header-img {
  background-image: url('../Images/crowd.jpg');
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.header-text-box {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
  margin: 0 auto;
}

.header-text-box h3 {
  color: #fff;
  font-weight: 200;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
  animation-name: moveInLeft;
  animation-duration: 2s;
}

.header-text-box h3::first-letter {
  border-bottom: solid 4px #8F12FD;
}

.header-text-box h4 {
  font-size: 50px;
  color: #fff;
  margin: 0 0 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  animation-name: moveInRight;
  animation-duration: 2s;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: 1px;
}

.header-cta {
  background: #FE5151;
  color: #fff;
  animation-name: moveInBottom;
  animation-duration: 4s;
}

.defualt {
  padding: 20rem 0;
  background: #F4F4F4;
  margin-top: -20vh;
}

.u-text-center {
  text-align: center;
}

.margin-bottom-small {
  margin-bottom: 1rem;
}

.margin-bottom-med {
  margin-bottom: 5rem;
}

/* .margin-bottom-large {
  margin-bottom: 8rem;
} */
.sect-heading {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #222;
}

.sect-heading::first-letter {
  border-bottom: solid 4px #8F12FD;
}

span.sect-span {
  font-weight: 200;
}

.row {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-1-of-2 {
  max-width: 49%;
  margin: 0 auto;
}

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
}

.paragraph {
  color: #9aa0b9;
}

.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.composition {
  position: relative;
}

.composition-photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(1, 1, 1, .4);
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s;
}

.composition-photo:hover {
  transform: scale(1.05);
  z-index: 20;
  box-shadow: 0 1.5rem 4rem rgba(1, 1, 1, .8);
}

.composition-photo.p1 {
  position: relative;
  top: -2rem;
  left: 1rem;
}

.composition-photo.p2 {
  top: 2rem;
  right: 0;
}

.composition-photo.p3 {
  top: 10rem;
  left: 20%;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #FE5151;
  color: white;
  cursor: pointer;
  padding: 18px;
  border-radius: 100%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.64);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Media Queries */
@media only screen and (max-width: 767px) {
  .lines {
    display: block;
  }

  .main-nav {
    display: none;
  }

  .line {
    height: 3px;
    width: 30px;
    background: #fff;
    margin: 5px 0;
    border-radius: 3px;
  }

  .side-bar {
    display: block;
    position: fixed;
    top: 0px;
    left: -270px;
    height: 100%;
    width: 270px;
    transition: all 0.3s ease;
    background: #FE5151;
    z-index: 12;
  }

  .header-text-box {
    left: 50%;
    width: 90%;
  }

  .col-1-of-2 {
    max-width: 100%;
    margin: 2rem;
  }

  .composition-photo {
    width: 70%;
  }

  .composition-photo.p3 {
    top: 9rem;
    left: 10%;
  }
}
