/* Reset Css */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  overflow-x: hidden;
}

/* Color scheme
#FE5151;
#33485D;
*/
nav {
  padding: 20px;
  display: flex;
  align-items: center;
  background: transparent;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease;
}

nav.scrolled {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14);
}

.logo h3 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.spacer {
  flex: 1;
}

.main-nav ul {
  list-style: none;
  display: flex;
  margin: 0 20px;
}

.main-nav ul li {
  margin: 0 20px;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.lines {
  display: none;
  cursor: pointer;
  margin: 0 40px 0 0;
}

.side-bar {
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  height: 100%;
  width: 270px;
  background: #fff;
  transition: all 0.3s ease;
}

.side-bar ul {
  list-style: none;
  margin: 2rem auto;
}

.side-bar li {
  margin: 2rem;
}

.side-bar a {
  color: #33485D;
  text-decoration: none;
  width: 100%;
}

.side-bar.toggled {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
}

.header-img {
  background-image: url('../Images/crowd.jpg');
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media Queries */
@media only screen and (max-width: 825px) {
  .lines {
    display: block;
  }

  .main-nav {
    display: none;
  }

  .line {
    height: 3px;
    width: 30px;
    background: #fff;
    margin: 5px 0;
    border-radius: 3px;
  }
}
